.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(5px + 2vmin);
    color: white;
}

.App-body {
    background-color: #28292A;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(1px + 2vmin);
    color: white;
}

.loader {
    justify-content: center;
    align-content: center;
}

.nav.nav-pills .nav-link.active {
    background-color: #28292A;
}

small {
    float: left;
    vertical-align: top;
    font-size: calc(1px + 1vmin);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

img {
    border-radius: 0.5rem;
}

.feeds {
    justify-content: left;
}

.debug {
    background-color: #FF0000;
}

nav {
    background-color: #333;
}

.sticky-headings {
    position: sticky;
    top: 0;
}

.cell-fall {
    text-align: center;
    font-weight: bold;
    background-color: #f44336;
}

.cell-raise {
    text-align: center;
    font-weight: bold;
    background-color: #4caf50;
}

.feeds-items {
    background-color: #28292A;
    color: #C5C1BD;
}

.feeds-author {
    color: #9E9D99;
}

@media (max-width: 768px) {
    .footer-section {
        min-width: 100%;
    }
}

.register-page {
    max-width: 500px;
    margin: 5rem auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.register-page h1 {
    text-align: center;
    margin-bottom: 20px;
}

.register-page label {
    display: block;
    margin-bottom: 5px;
}

.register-page input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-page button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 5px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.login-form {
    max-width: 400px;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.login-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form .error {
    color: red;
    margin-top: 5px;
}

.ag-theme-alpine {
    --ag-grid-size: 3px;
    --ag-list-item-height: 20px;
}